@charset "utf-8";

/*======================
main
====================== */

/* about */
.about {
  background-image: url(../images/about\ SP375.png);
  background-size: cover;
  background-position: top;
  padding: 100px var(--SPcontentPadding) 70px;
}

.about__img {
  width: 240px;
  margin: auto;
  display: block;
}

.about__imgcontent {
  margin: 25px auto 0;
  position: relative;
  max-width: 295px;
}

.about__lang--block {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 90px;
  padding-top: 20px;
  position: absolute;
}

.about__lang--block.jpblock {
  background-image: url(../images/language.svg);
  top: -22px;
  right: 0;
}

.about__lang--block.chblock {
  background-image: url(../images/languagejp.png);
  bottom: -14px;
  left: 0;
}

.about__lang--title {
  color: var(--primary-darkblue);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-weight: 700;
}

.about__lang--txt {
  color: var(--primary-darkblue);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  font-weight: 700;
}

.about__info {
  margin-top: 22px;
}

.about__info--name {
  color: var(--primary-darkblue);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 120%;
}

.about__info--txt {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 140%;
  margin: 20px auto 0;
  max-width: 295px;
}

.changecolor--orange {
  border-bottom: 2px solid var(--primary-orange);
}

/* about SP 375px end*/

@media screen and (min-width: 768px) {
  .about {
    background-image: url(../images/about\ TA992.png);
    padding-top: 112px;
    padding-bottom: 60px;
  }

  .about__imgcontent {
    display: flex;
    margin: 60px 120px 0 0 ;
    justify-content: center;
  }

  .about__lang--block {
    width: 110px;
    height: 110px;
    padding-top: 24px;
    position: relative;
  }

  .about__lang--block.jpblock {
    background-image: url(../images/language.svg);
  }

  .about__lang--block.chblock {
    background-image: url(../images/languageTA.svg);
    padding-left: 15px;
  }

  .about__img {
    width: 278px;
  }

  .about__content {
    display: flex;
    justify-content: center;
  }

  .about__lang--title {
    font-size: 2.4rem;
  }

  .about__lang--txt {
    font-size: 1.4rem;
  }

  .about__info {
    margin-top: 12px;

  }

  .about__info--name {
    text-align: left;
    font-size: 3.2rem;
    line-height: 140%;
  }

  .about__info--txt {
    margin-top: 16px;
    max-width: 488px;
  }
} /* about TA 768px end*/

@media screen and (min-width: 1024px) {
  .about {
    background-image: url(../images/about\ PC1440.png);
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .about__set {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  .about__imgcontent {
    margin-top: 40px;
    margin-left: 30px;
    margin: 40px 200px 0 30px;
  }

  .about__lang--block {
    width: 140px;
    height: 140px;
    padding-top: 36px;
  }

  .about__lang--block.chblock {
    margin-left: 30px;
  }

  .about__img {
    width: 360px;
  }

  .about__lang--title {
    font-size: 3.2rem;
  }

  .about__lang--txt {
    font-size: 1.8rem;
  }

  .about__info {
    margin-top: 92px;
  }

  .about__info--txt {
    margin-top: 16px;
  }
} /* about PC 1024px end*/

/* skills */

.skills__top {
  height: 50px;
  background-color: var(--primary-blue);
}

.skills__top--color {
  border-radius: 50px 50px 0 0;
  background-color: var(--primary-background);
  height: 100%;
}

.skills {
  padding: 0px var(--SPcontentPadding) 140px;
}

.skills__list {
  margin-top: 24px;
}

.skills__list--item {
  width: 66%;
  border-radius: 30px;
  background: white;
  padding: 24px 16px;
  margin: 0 auto 24px;
}

.skills__list--img {
  width: 129px;
  height: 98px;
  margin: 0 auto;
  display: block;
}

.skills__list--title {
  color: var(--primary-darkblue);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  border-bottom: 2px solid var(--primary-orange);
  margin-top: 8px;
}

.skills__list--txt {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  line-height: 140%; /* 16.8px */
  margin-top: 12px;
  height: 120px;
}

.skills__list--softwares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-top: 12px;
}

.skills__list--softwares-item {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
}

.OKSW {
  background-color: var(--primary-orange);
  color: var(--primary-white);
}

.SOSOSW {
  background-color: var(--primary-white);
  color: var(--primary-orange);
  border: 2px solid var(--primary-orange);
}

/* skills SP 375px end */

@media screen and (min-width: 768px) {
  .skills__top {
    height: 100px;
  }

  .skills__top--color {
    border-radius: 100px 100px 0 0;
  }

  .skills {
    padding: 0px var(--SPcontentPadding) 60px;
  }

  .skills__list {
    display: flex;
    gap: 24px;
  }

  .skills__list--item {
    margin: 0 auto 24px;
  }
} /* skills TA 992px end */

@media screen and (min-width: 1024px) {
  .skills {
    padding: 80px var(--SPcontentPadding) 70px;
  }

  .skills__set {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .skills__list {
    gap: 40px;
  }

  .skills__list--item {
    margin: 0;
  }

  .skills__list--item {
    border-radius: 50px;
    padding: 36px 32px;
    margin: 40px auto 0px;
  }

  .skills__list--img {
    width: 264px;
    height: 200px;
  }

  .skills__list--title {
    margin-top: 4px;
  }

  .skills__list--txt {
    font-size: 1.6rem;
    height: 116px;
  }

  .skills__list--softwares {
    gap: 12px;
    margin-top: 4px;
  }

  .skills__list--softwares-item {
    padding: 8px 12px;
    font-size: 1.4rem;
  }
} /* skills PC 1024px end */

.biograph {
  padding-bottom: 70px;
}

.biograph__set {
  padding: 0 var(--SPcontentPadding);
}

.container_line--line {
  height: 24px;
}

.line-yellow {
  background-color: var(--primary-yellow);
  width: 1050px;
}

.line-orange {
  background-color: var(--primary-orange);
  width: 600px;
}

.container_line--fly {
  width: 10%;
}

.container_line--title {
  font-family: "Tilt Warp";
  font-size: 3.6rem;
  margin-bottom: 8px;
}

.title-yellow {
  color: var(--primary-yellow);
  margin-left: 3%;
}

.title-orange {
  color: var(--primary-orange);
}

.container_lineset {
  display: flex;
  align-items: end;
  position: absolute;
  z-index: -100;
  bottom: 270px;
}

.biograph__container {
  position: relative;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.biograph__container::-webkit-scrollbar {
  display: none;
}

.biograph__timeline {
  display: flex;
  margin: 50px 0 0 10%;
  gap: 32px;
}

.biograph__timeline--item-img {
  margin: 0 auto;
  display: block;
}

.biograph__timeline--item-dot {
  border: 12px solid var(--primary-yellow);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--primary-background);
  margin: 30px auto 0;
}

.biograph__timeline--item-info {
  width: 233px;
  margin-top: 12px;
}

.timeline--item-date {
  color: var(--primary-orange);
  font-family: "Tilt Warp";
  font-size: 1.2rem;
}

.timeline--item-title {
  color: var(--primary-darkblue);
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4px;
}

.timeline--item-subtitle {
  color: var(--primary-darkblue);
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  font-weight: 700;
  height: 25px;
  border-bottom: 2px solid var(--primary-orange);
}

.timeline--item-txt {
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  margin-top: 8px;
}

.color-orange {
  border: 12px solid var(--primary-orange);
}

/* biograph SP 375px end */

@media screen and (min-width: 768px) {
  .biograph__set {
    padding: 0 var(--SPcontentPadding);
  }
  .container_lineset {
    bottom: 350px;
  }

  .line-yellow {
    width: 1100px;
  }

  .line-orange {
    width: 600px;
  }

  .container_line--fly {
    width: 15%;
  }
  .title-yellow {
    margin-left: 10%;
  }

  .container_line--line {
    height: 32px;
  }

  .container_line--title {
    font-size: 5.6rem;
    margin-bottom: 0px;
  }

  .biograph__timeline--item-dot {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    margin: 30px auto 0;
  }

  .timeline--item-date {
    font-size: 1.4rem;
  }

  .timeline--item-title {
    font-size: 1.8rem;
  }

  .timeline--item-subtitle {
    font-size: 1.4rem;
    height: 28px;
  }

  .timeline--item-txt {
    font-size: 1.4rem;
  }
} /* biograph TA 768px end */

@media screen and (min-width: 1024px) {
  .biograph__set {
    padding: 0 var(--PCcontentPadding);
  }

  .biographtitle {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  .container_lineset {
    bottom: 300px;
  }

  .biographtitle {
    padding: 0;
  }

  .line-yellow {
    width: 1650px;
  }

  .line-orange {
    width: 850px;
  }

  .container_line--fly {
    width: 12%;
  }
  .title-yellow {
    margin-left: 8%;
  }

  .biograph__timeline {
    margin: 40px 0 0 17%;
    gap: 76px;
  }

  .biograph__timeline--item-info {
    width: 290px;
    margin-top: 16px;
  }
}

/* interest */

.interest__top {
  height: 50px;
  background-color: var(--primary-darkbackground);
  border-radius: 50px 50px 0 0;
}

.interest {
  padding: 40px var(--SPcontentPadding) 70px;
  background-color: var(--primary-darkbackground);
}

.interest__content {
  margin-top: 70px;
}

.interest__content--title-img {
  width: 14px;
}

.interest__content--item {
  border-radius: 50px;
  background: var(--primary-white);
  padding: 12px;
  margin-bottom: 12px;
}

.interest__content--title {
  color: var(--primary-orange);
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  display: flex;
  gap: 4px;
}

.interest__content--list {
  margin: 20px auto 0;
  max-width: 320px;
}

.interest__content--txt {
  font-family: "Noto Sans JP";
  font-size: 14px;
  margin-left: 20px;
}

.footer {
  background-color: var(--primary-darkbackground);
}

/* interest SP 375px */

@media screen and (min-width: 768px) {
  .interest__top {
    height: 100px;
    border-radius: 100px 100px 0 0;
  }

  .interest__content--title-img {
    width: 16px;
  }

  .interest__content--item {
    margin-bottom: 16px;
  }

  .interest__content--title {
    font-size: 2rem;
  }

  .interest__content--list {
    margin: auto 0 0 auto;
  }

  .interest__content--txt {
    font-family: "Noto Sans JP";
    font-size: 14px;
    margin-left: 20px;
  }

  .interest__content {
    display: flex;
  }

  section.interest .interest__content--img {
    width: 55%;
  }
} /* interest TA 768px */

@media screen and (min-width: 1024px) {
  .interest {
    padding: 0px var(--PCcontentPadding) 100px;
  }

  .interest__set {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  section.interest .interest__content--img {
    margin-top: 56px;
    width: 60%;
  }

  .interest__content--title-img {
    width: 18px;
  }

  .interest__content--item {
    border-radius: 60px;
    width: 386px;
    height: 80px;
  }

  .interest__content--title {
    font-size: 2.4rem;
    gap: 12px;
  }

  .interest__content--list {
    margin-top: 20px;
  }

  .interest__content--txt {
    font-size: 16px;
    margin-left: 28px;
  }
}
