@charset "utf-8";
/*======================
common
====================== */

:root {
  --primary-white: #ffffff;
  --primary-yellow: #fbcf73;
  --primary-darkblue: #232461;
  --primary-black: black;
  --primary-orange: #ed8f4d;
  --primary-red: #ee4917;
  --primary-background: #fff7e7;
  --primary-darkbackground: #feefd0;
  --primary-blue: #c5e8ff;
  --SPcontentPadding: 10%;
  --PCcontentPadding: 10%;
}

#cursor {
  position: fixed;

  /*丸の大きさと色の指定*/
  background: var(--primary-orange);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  /*真ん中にくるようにマイナスマージンで調整*/

  z-index: 900; /*一番手前に来るように*/
  pointer-events: none; /*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
}

#stalker {
  position: fixed;

  /*丸の大きさと色の指定*/
  background: var(--primary-orange);
  width: 10px;
  height: 10px;
  border-radius: 50%;

  z-index: 1000; /*カーソルの後ろに来るように*/
  pointer-events: none; /*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
  transition: transform 0.5s; /*アニメーションの秒数指定*/
  mix-blend-mode: multiply;
}

.scroll__txt {
  color: white;
  font-size: 0.3rem;
  /* margin: 1.5px 0 0 13%; 真ん中にくるようにマイナスマージンで調整 */
}

.scroll__icon {
  color: white;
  font-size: 0.3rem;
  /* margin: 0px 0 0 50%; 真ん中にくるようにマイナスマージンで調整 */
}

.scroll__box {
  opacity: 0;
  transition: transform 0.5s; /*アニメーションの秒数指定*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

#stalker.active {
  transform: scale(7);
  mix-blend-mode: normal;
}

#stalker.linkhover {
  background-color: rgba(red, green, blue, 0.5);
  transform: scale(3);
}

#stalker.active .scroll__box {
  opacity: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Tilt Warp', 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: normal;
  background-color: var(--primary-background);
  cursor: none;
}

img {
  max-width: 100%;
  height: auto;
}

.maintitle__top {
  color: var(--primary-darkblue);
  font-family: 'Tilt Warp';
  font-size: 6rem;
}

.maintitle__bottom {
  position: relative;
}

.maintitle__bottom--txt {
  color: var(--primary-white);
  font-family: 'Noto Sans JP';
  font-size: 1.6rem;
  font-weight: 500;
  padding: 4px 16px;
  border-radius: 21px;
  background: var(--primary-orange);
  display: inline-flex;
}

.maintitle__bottom--img {
  position: absolute;
  bottom: -8px;
  left: 15px;
  z-index: -1;
}

.btn_circle {
  width: 48px;
  height: 48px;
  padding: 8px 8px;
  border-radius: 50px;
  background: var(--primary-orange);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn_img {
  width: 100%;
  height: 100%;
}

.btnset:hover .btn_circle {
  background-color: var(--primary-darkblue);
}

.btnset:hover img {
  animation: turn 0.1s linear 1 forwards;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

.btn_txt {
  color: var(--primary-darkblue);
  font-family: 'Noto Sans JP';
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 2px solid var(--primary-darkblue);
  height: 28px;
  margin-left: 16px;
}

.changecolor--orange {
  color: var(--primary-orange);
  font-weight: 700;
}

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.fadeIn.animated {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 991px) {
  .maintitle__top {
    font-size: 8rem;
  }

  .maintitle__bottom--txt {
    font-size: 2.4rem;
  }

  .btn_circle {
    width: 56px;
    height: 56px;
    padding: 12px 14px;
    border-radius: 28px;
  }

  .btn_txt {
    font-size: 2rem;
    height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .maintitle__top {
    font-size: 9.6rem;
  }

  .btn_txt {
    font-size: 2.4rem;
    height: 40px;
  }
}

/*======================
header
====================== */

.nav__header {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: fixed; /* 關鍵：讓元素相對於視窗固定定位 */
  right: 5%;
  z-index: 300;
  margin-top: 24px;
}

.nav__language {
  width: 47.712px;
  height: 49.788px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Tilt Warp';
  font-size: 2.4rem;
  cursor: pointer;
}

.nav__language.ja {
  background-image: url(../images/navlangon.svg);
  color: var(--primary-white);
}

.nav__language.ja:hover {
  background-image: url(../images/navlangoff.svg);
  color: var(--primary-orange);
}

.nav__language.zh {
  background-image: url(../images/navlangoff.svg);
  color: var(--primary-orange);
}

.nav__language.zh:hover {
  background-image: url(../images/navlangon.svg);
  color: var(--primary-white);
}

.navlist__btn {
  width: 60px;
  height: 60px;
  background-color: var(--primary-orange);
  border-radius: 42px;
  padding-top: 20px;
  cursor: pointer;
}

.navlist__btn--lineset {
  margin: auto;
  width: 33px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navlist__btn--line {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-background);
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.navlist__btn--lineset .navlist__btn--line:nth-child(2) {
  opacity: 0;
}

.navlist__btn.is-active .navlist__btn--line:nth-child(2) {
  opacity: 1; /* 讓中間的線恢復不透明 */
  transform: rotate(45deg);
}

/* 2. 將第一條線移動到中心並旋轉 */
/* 注意：translateY 的值需要微調，讓它剛好蓋在中間那條線上 */
.navlist__btn.is-active .navlist__btn--line:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

/* 3. 將第三條線移動到中心並旋轉 */
.navlist__btn.is-active .navlist__btn--line:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.nav {
  background-color: var(--primary-orange);
  width: 100%;
  height: 100vh;
  padding: 17px 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  transform: translateX(100%);
  transition: 0.4s;
}

.nav.active {
  transform: translateX(0);
}

.nav__list {
  margin-top: 60px;
}

.nav__list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 100px;
  border-bottom: 2px solid var(--primary-background);
}

.nav__list--item:hover {
  animation: jump 2.5s ease-out infinite;
}

@keyframes jump {
  /* 0% 時，在原地 */
  0% {
    transform: translateY(0);
  }

  7% {
    transform: translateY(-10px);
  }

  14% {
    transform: translateY(0);
  }

  21% {
    transform: translateY(-10px);
  }

  28% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.nav_contact {
  text-align: center;
  font-size: 7rem;
  color: var(--primary-background);
  font-family: 'Tilt Warp';
  margin-top: 50px;
}

.nav__email:hover {
  animation: jump 2.5s ease-out infinite;
}

.nav_linktxt {
  color: var(--primary-background);
  font-family: 'Tilt Warp';
  font-size: 3.6rem;
}

.nav_right {
  width: 32px;
  height: 32px;
}

.nav__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  background: var(--primary-background);
  height: 72px;
  width: 295px;
  color: var(--primary-orange);
  font-family: 'Tilt Warp';
  font-size: 1.8rem;
}
/* nav SP375px end */

@media screen and (min-width: 768px) {
  .nav__language {
    width: 60.056px;
    height: 62.44px;
    font-size: 3.2rem;
  }
  .navlist__btn {
    width: 84px;
    height: 84px;
    padding-top: 30px;
  }

  .navlist__btn--lineset {
    width: 49px;
    height: 22px;
    display: flex;
  }

  .navlist__btn--line {
    width: 49px;
  }

  .nav__header {
    right: 5%;
  }

  .nav {
    /* 最終展開後的大小與樣式 */
    width: 347px;
    height: auto;
    left: auto;
    right: 5%;
    top: 24px;
    padding: 60px 30px 30px;
    border-radius: 50px;

    /* 關鍵：定位與動畫設定 */
    position: fixed;

    /* 關鍵：設定動畫的基準點在右上角 */
    transform-origin: top right;

    /* 關鍵：初始狀態是透明且縮到最小 */
    opacity: 0;
    transform: scale(0);

    /* 關鍵：防止在隱藏時被點擊到 */
    pointer-events: none;

    /* 動畫效果 */
    transition:
      transform 0.4s ease-out,
      opacity 0.4s ease-out;
  }

  .nav.active {
    opacity: 1;
    transform: scale(1);
    /* 恢復點擊事件 */
    pointer-events: auto;
  }

  .nav__list {
    margin-top: 40px;
  }

  .nav__list--item {
    height: 65px;
  }

  .nav_contact {
    font-size: 6.4rem;
    margin-top: 32px;
  }

  .nav_linktxt {
    font-size: 3.6rem;
  }

  .nav_right {
    width: 32px;
    height: 32px;
  }

  .nav__email {
    gap: 4px;
    height: 70px;
    width: 289px;
    margin: 0 auto;
  }
}
/*nav TA 768px */

/* gotop */

.gotop {
  width: 60px;
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 200;
  cursor: pointer;
}
/* gotop SP 375px */

@media screen and (min-width: 768px) {
  .gotop {
    width: 100px;
    bottom: 10%;
    z-index: 200;
  }
}
/* gotop TA 768px */

@media screen and (min-width: 1024px) {
  .gotop {
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 200;
  }
}
/* gotop PC 1024px */

/*======================
footer
====================== */

.footer__set {
  padding: 32px 40px;
  border-radius: 50px 50px 0px 0px;
  background: var(--primary-orange);
}

.footer__contact {
  color: var(--primary-background);
  text-align: center;
  font-family: 'Tilt Warp';
  font-size: 6.4rem;
}

.footer__txt {
  color: var(--primary-background);
  text-align: center;
  font-family: 'Noto Sans JP';
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 20px;
}

.footer__btn {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  background: var(--primary-background);
  margin-top: 40px;
  transition: 0.5s;
}

.footer__btn:hover .footer__btn--email {
  font-size: 1.9rem;
}

.footer__btn--email {
  color: var(--primary-orange);
  font-family: 'Tilt Warp';
  font-size: 1.8rem;
  transition: 0.5s;
}

.footer__line {
  margin-top: 40px;
  height: 2px;
  background-color: var(--primary-background);
}
.footer__buttom--links {
  margin-top: 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
  color: var(--primary-orange);
  font-size: 3.2rem;
  text-align: center;
  line-height: 60px;
}

.footer__buttom--linkset {
  transition: 0.5s;
}

.footer__buttom--linkset:hover {
  font-size: 4rem;
}

.footer__buttom--linkset {
  margin-top: 16px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--primary-background);
}

.x {
  margin-top: 3px;
  margin-left: 3px;
}

.Copyright {
  font-family: 'Tilt Warp';
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-background);
  margin-top: 20px;
}
/* footer SP 375px */

@media screen and (min-width: 768px) {
  .footer__set {
    padding: 32px 140px;
    border-radius: 200px 200px 0px 0px;
  }

  .footer__contact {
    font-size: 12.8rem;
  }

  .spbr {
    display: none;
  }

  .footer__txt {
    margin-top: 0px;
  }

  .footer__btn {
    width: 400px;
    height: 100px;
    gap: 16px;
    margin: 60px auto 0;
  }

  .footer__btn--email {
    font-size: 2.4rem;
  }

  .footer__btn:hover .footer__btn--email {
    font-size: 2.6rem;
  }

  .footer__line {
    margin-top: 60px;
  }
  .footer__buttom--links {
    gap: 8px;
    justify-content: left;
  }

  .footer__buttom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .x {
    margin-top: 4px;
  }

  .Copyright {
    font-size: 2rem;
  }
}
/* footer TA 768px */

@media screen and (min-width: 1024px) {
  .footer__buttom--links {
    gap: 16px;
  }
}

/* footer PC 1024px */
